<a href="https://colab.research.google.com/github/krish95s/DS_Rcodefiles/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python pandas practice

In [1]:
import pandas as pd

In [2]:
df =pd.read_csv ("/Salaries.csv")

In [3]:
df.head()

   Unnamed: 0  rank discipline  phd services  salary
0           0  Prof          B   56     Male  186960
1           1  Prof          A   12     Male   93000
2           2  Prof          A   23     Male  110515
3           3  Prof          A   40     Male  131205
4           4  Prof          B   20     Male  104800

In [5]:
df.head(4)

   Unnamed: 0  rank discipline  phd services  salary
0           0  Prof          B   56     Male  186960
1           1  Prof          A   12     Male   93000
2           2  Prof          A   23     Male  110515
3           3  Prof          A   40     Male  131205

In [6]:
df.dtypes

Unnamed: 0     int64
rank          object
discipline    object
phd            int64
services      object
salary         int64
dtype: object

In [7]:
df.size

30

In [8]:
df.shape

(5, 6)

In [9]:
df.columns

Index(['Unnamed: 0', 'rank', 'discipline', 'phd', 'services', 'salary'], dtype='object')

In [10]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Unnamed: 0', 'rank', 'discipline', 'phd', 'services', 'salary'], dtype='object')]

In [11]:
df.values

array([[0, 'Prof', 'B', 56, 'Male', 186960],
       [1, 'Prof', 'A', 12, 'Male', 93000],
       [2, 'Prof', 'A', 23, 'Male', 110515],
       [3, 'Prof', 'A', 40, 'Male', 131205],
       [4, 'Prof', 'B', 20, 'Male', 104800]], dtype=object)

In [12]:
df.ndim

2

In [13]:
df.shape[0]

5

In [15]:
df.shape[1]

6